*{
  margin: 0;
  padding: 0;
}

.container-all-feed{
  max-width: 930px;
  height: 100vh;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.container-feed-post{
  width: 614px;
  max-width: 614px;
  height: 610px;
  /* border: 1px solid blue; */
}

.container-right-feed {
  width: 290px;
  height: 610px;
  /* border: 1px solid orange; */
}

.post-feed {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.post-username-feed {
  width: 100%;
  height: 60px;
  background: white;
}

.post-username-feed div {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 15px;
}

.post-username-feed div span {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.post-image-feed {
  width: 100%;
  max-height: 614px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.post-image-feed img {
  width: 100%;
}

.post-counter-feed {
  width: 100%;
  height: 60px;
  background: white;
}

.post-content {
  display: flex;
  justify-content: space-between;
}

.picture-profile-post{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
  border: 1px solid #00000066;
}

.picture-profile-post img {
  width: 100%;
}

.post-iconos {
  padding: 5px;
}

.iconpost {
  font-size: 25px;
  padding: 0 10px;
}

.counter-likes {
  font-size: 15px;
  padding: 0 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.counter-coment {
  width: 100%;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-coment input {
  width: 90%;
  border: none;
}

.counter-coment button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: #0000ff87;
  background: none;
}

.rightside-feed {
  width: 290px;
  background: white;
  height: 82vh;

}

.container-info-rightside {
  display: flex;
  align-items: center;
}

.container-info-rightside-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.container-info-rightside-img img {
  width: 100%;
}

.container-txt-name-info {
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.rightside-histories {
  width: 100%;
  height: 190px;
  /* border: 1px solid gray; */
  margin: 20px 0;
}

.txt-header--histories {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.list-histories {
  height: 171px;
  overflow: auto;
  padding: 0 10px;
}

.container-info-rightside-histories {
  display: flex;
  margin: 10px 0;
}

.container-info-rightside-img-histories {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.container-info-rightside-img-histories img {
  width: 100%;
}