body {
	background-color: #fafafa;
	color: rgba(38, 38, 38, 0.7);
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

.Header {
	background-color: white;
}

.Header-container {
	display: grid;
	grid-template-columns: minmax(auto, 936px);
	justify-content: center;
	border-bottom: 1px solid rgba(38, 38, 38, 0.7);
}

.Header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
}

.Header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.Header li {
	display: inline-block;
	margin: 0 0 0 1em;
}

.Header h1 {
	color: black;
}

.main-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 2em;
	padding: 2em 0;
}
.Timeline {
	padding: 2em;
	display: block;
}
.Timeline-container {
	
}
.Sideuser {
	position: relative;
	padding: 2.5em;
	display: block;
}

.Card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.card-user {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.card-user img {
	border-radius: 51% 49% 44% 56% / 48% 47% 53% 52%;
	width: 70px;
}
.card-user h2 {
	font-weight: 600;
	margin: 1em;
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
}
.card-user span {
	display: block;
	font-size: 12px;
}
.icon-post {
	display: flex;
	padding: 1em;
	justify-content: space-between;
	align-items: center;
}
.post3 img {
	width: 85.5%;
}
.left-icon i {
	display: block;
	margin: 1em;
	cursor: pointer;
}
.right-icon {
	display: block;
	padding: 0;
	margin: 1em;
	cursor: pointer;
}
.Sideuser {
	position: relative;
	padding: 4.5em;
	display: block;
}
.Sideuser-container {
	position: fixed;
}
.avatar img {
	border-radius: 50%;
	width: 42px;
}
.Profile-contet {
	display: flex;
	align-items: center;
}
.info-profile {
	display: block;
}
.info-description {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.info-description span {
	display: block;
}
.Head-stories {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color: rgb(27, 92, 233);
}
.Stories-item {
display: block ;
}
.stories-item-box {
  display: block;
	border: double 2px;
}
.stories-item-box img {
	border-radius: 50%;
	width: 70px;
}
.stories-item-box h2{
  display: flex;
  justify-content: space-between;
}
