body {
  background-color: #fafafa;
  color: rgba(38,38,38,0.7);
  padding: auto;
  margin: auto;
}

h1 {
  margin: 0;
  padding: 0;
}

.Header {
  background-color: white;
}

.header-logos img {
  margin-left: 10px;
}

.Header-container {
  display: grid;
  grid-template-columns: minmax(auto, 936px);
  justify-content: center;
  border-bottom: 1px solid rgba(38,38,38,0.7);
}

.Header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.Header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header li {
  display: inline-block;
  margin: 0 0 0 1em;
}

.Header h1 {
  background: linear-gradient(#f09433,#bc1888);
  font-family: pacifico;
  -webkit-background-clip: text;
  color: transparent; 
}

.container {
margin: 0 auto;
display: flex;
margin: 0 160px 0 160px;
}

.container-content {
  background-color: white;
  border: 2px solid #d6d6d6;
  border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 20px;
  width: 680px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-user {
  padding: 10px;
  display: flex;

}
.name-user img {
  border-radius: 50%;
  width: 32px;
  padding: 5px;
}

.name-user h2 {
  padding: 0;
  margin: 0;
  font-size: 14px;

}

.photo-pug {
  margin: 0;
  padding: 0;
}
.container-likes {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.container-left {
  background-color: white;
  border: 2px solid #d6d6d6;
  border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.container-lef-content {
}

.coments {
  padding: 10px 0 5px 0;
}

.coments h2, span {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 0 0 10px;
  font-size: 14px;
}

.stories-name {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 0 16px 0 16px;
}

.stories-name img {
  border-radius: 50%;
  width: 32px;
}

.stories-name h2 {
  font-size: 14px;
}