@font-face {
  font-family: Pacifico-Regular;
  src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}

body {
  background-color: #fafafa;
  color: rgba(38,38,38,0.7);
  margin: 0;
  padding: 0;
}

h1 {

  background: -webkit-linear-gradient( #f09433,#bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:Pacifico-Regular;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.Header {
  background-color: white;
  width: 100%;
}

.Header-container {
  grid-template-columns: minmax(auto, 936px);
  display: grid;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid rgba(38, 38, 38, 0.4);
}

.Header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.Header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header li {
  display: inline-block;
  margin: 0 0 0 1em;
}

.fas {
  color: gray;
}

main {
  display: grid;
  grid-template-columns: minmax(auto, 936px);
  justify-content: center;
  background-color: #fafafa;
}

.main-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2em;
  padding: 2em 0;
}


.card {
  border: 1px solid rgba(219,219,219,1);
  border-radius: 4px;
  background-color: white;
  margin: 0 0 2em 0;
}
.card-container{
  display: block;
  background-color: #fafafa;
  color: rgba(38,38,38,0.7);
  font-family: Lato-Regular, sans-serif;
  margin: 0;
  padding: 0;
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: white;
}
.card-user{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card-user img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.card-user h2{
  padding: 0;
  font-size: 14px;
  font-weight: 600px;
  margin: 0 0 0 1em;
  color: black;
}
.card-user h2 span{
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: rgba(38,38,38,0.7);
}
.card-photo{
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

figure img{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.card-icons{
padding: 1em;
display: flex;
justify-content: space-between;
align-items: center;
}
.card-icons .fas{
  color: rgba(38,38,38,0.7);
  margin: 0 1em 0 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}

.card-description{
  padding: 0 0 0.4em 1em;
}

.card-description h3{
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.card-description h3 span{
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: rgba(38,38,38,0.7);
}

.comments {
  padding: 0 1em 1em 1em;
}

.comments-users{
  margin: 0 0 0.5em 0;
}

.comments-users h3 {
  font-size: 14px;
  font-weight: bold;
  color: black;

}

.comments-users h3 span{
  font-size: 14px;
  font-weight: normal;
  color: rgba(38,38,38,0.7);
  margin: 0 0 0 0.5em;
}

.comments-add{
  padding: 1em 1em 1em 1em;
  border-top: rgba(219,219,219,0.8) 1px solid;
}

.comments-add form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-add form label {
  display: none;
  cursor: default;
}

.comments-add form input{
  border: solid 1px #e9e9e9;
  border-radius: 5px;
  color: #696969;
  border: 1px solid transparent;
  font-size: 12px;
  outline: none;
  width: 100%;
  display: flex;
  padding: 1em;
  border-radius: 4px;
}

.comments-add form button{
  border: none;
    color: #3897f0;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    padding: 1em;
    border-radius: 4px;
}

.sidebar {
  position: relative;
  padding: 4.5 0 0 0;
  font-family: Lato-Regular, sans-serif;
}

.sidebar-container {
  position: fixed;
}

.profile-content{
  display: flex;
  align-items: center;
}

.profile-avatar img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.profile-info{
  margin: 0 0 0 0.5em;
}

.profile-info h2{
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
}

.profile-info h2 span{
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: rgba(38,38,38,0.7);
}

.stories {
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 4px;
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: white;
}

.stories-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0 0 0;
}

.stories-head h2 {
  font-size: 12px;
  color: black;
  margin: 0;
  padding: 0;
}

.stories-head h2 span{
  font-size: 12px;
  font-weight: normal;
  color: rgba(38,38,38,0.7);
}

.stories-items{
  margin: 0.5em 0 0.5em 0;
}

.stories-item{
  display: flex;
  align-items: center;
  margin: 0 0 0.5em 0;
}
.stories-item-box{
  width: 32px;
  height: 32px;
  border: double 2px transparent;
  border-radius: 100%;
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at top left, #f09433, #bc1888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.stories-item-box img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.stories-item-text h2{
  font-size: 14px;
  color: black;
  margin: 0 0 0 0.5em;
}
.stories-item-text h2 span{
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  color: gray;
}

.footer {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: normal;
  color: #c7c7c7;
}
