body {
  background-color: #fafafa;
  color: rgba(38,38,38,0.7);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.Header {
  background-color: white;
}

.Header-container {
  display: grid;
  grid-template-columns: minmax(auto, 936px);
  justify-content: center;
  border-bottom: 1px solid rgba(38,38,38,0.7);
}

.Header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.Header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header li {
  display: inline-block;
  margin: 0 0 0 1em;
}

.Header h1 {
  color: black;
}

.card-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2em;
  padding: 2em 0;
  width: 950px;
  margin: 0 0 2em 500px;
  /*border: 1px solid grey;*/
}

.card-header {
  height: 60px;
  width: inherit;
  margin-top: 0px;
}

.section-post {
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 5px;
  width: 100%;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fa, 
.fas{
  display: inline-flex;
  margin-left: 500px;
}

.user span{
  display: block;
  color: #383838;
  font-weight: 100;
  font-size: .8em;
}

.user h2{
  font-size: 1em;
  color: black;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.user img {
  margin: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.user-post img {
  margin: 10px 0;
  width: 100%;
  height: 100%;
}

.far, 
.fas {
  margin-top: 10px;
}

.fa-heart{
  margin-left: 15px;
}

.fa-paper-plane {
  margin: 0 15px;
}

.fa-bookmark {
  display: inline-flex;
  margin-left: 36em; 
}

.post-description h2{
  font-size: 1em;
  margin: 10px;
  color: black;
}

.post-description span {
  font-size: .8em;
  display: block;
  color: #383838;
  font-weight: 100;
}

.comment {
  display: block;
  margin: 20px 5px;
  padding: 0;
  color: black;
}

.comment h3 {
  margin: 5px;
  font-size: 15px;
}

.comment span {
  color: #383838;
  font-weight: 100;
}

.add-comment {
  border-top: 1px solid rgba(219, 219, 219, 1);
}

.in-comment {
  width: 90%;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}

.comment-submit {
  height: 50px;
  border: none;
  color: #0095f6;
  background-color: transparent;
}