body {
  background-color: #fafafa;
  color: rgba(38,38,38,0.7);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

  /* ================================================================== */
 /*                           HEADER                                   */
/* ================================================================== */
.header {
  background-color: white;
  height: 54px;
  /* position: fixed; */
}

.header-logo{
  width: 360px;
  height: 36px;
  margin-top: 7px;
  min-width: 40px;
}

.header-logo img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.header-container {
  display: grid;
  grid-template-columns: minmax(auto, 957px);
  height: inherit;
  justify-content: center;
  border-bottom: 1px solid rgba(38,38,38,0.7);
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-nav{
  width: 360px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.nav-button{
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: flex-end;  
}

.nav-button a{
  margin-left: 17px;
}

.nav-button .home{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/home.svg');
  background-size: 24px 24px;
}
.nav-button .compass{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/compass.svg');
  background-size: 24px 24px;
}
.nav-button .heart{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/heart.svg');
  background-size: 24px 24px;
}
.nav-button .profile{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/lukas.jpg');
  border-radius: 50%;
  background-size: 25px 25px;
}

/* .header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline-block;
  margin: 0 0 0 1em;
} */

.header h1 {
  color: black;
}

.header-search{
  width: 215px;
  min-width: 125px;
  height: 28px;
  background-color: #fafafa;
  border: solid 1px rgba(38,38,38,0.7);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search span img{
  width: 13px;
  height: 13px;
  margin-right: 10px;
  margin-bottom: -2px;
}

  /* ================================================================== */
 /*                           MAIN - SECTIONS                          */
/* ================================================================== */
.main{
  width: 100%;
  height: 100%;
}

.main-container{
  width: 76%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}
/* ==================== SECTION 1 ====================== */
.users-container{
  width: 65%;
}

.friends-container{
  border-radius: 3px;
  width: 100%;
  height: 82px;
  padding: 16px 0;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgba(38,38,38,0.7);
}

.friends{
  width: 68px;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.friends-image{
  width: 57px;
  height: 57px;
  border: 2px solid red;
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-one{
  width: 51px;
  height: 51px;
  background-image: url('../../images/candy.jpg');
  background-size: 56px 56px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.image-two{
  width: 51px;
  height: 51px;
  background-image: url('../../images/gora.jpg');
  background-size: 56px 56px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.image-three{
  width: 51px;
  height: 51px;
  background-image: url('../../images/elmo1.jpg');
  background-size: 56px 56px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* ======================================= */
.container-user{
  /* background-color: cornflowerblue; */
  margin-top: 30px;
  border: 1px solid rgba(38,38,38,0.7);
  border-radius: 3px;
}

.user-data{
  width: 100%;
  height: 60px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.user-data-img{
  width: 40px;
  height: 40px;
  background-image: url('../../images/elmo1.jpg');
  background-size: 40px 40px;
  border-radius: 50%;
}

.user-data-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 30px;
}

.user-data-options p{
  margin-left: 17px;
}

.user-data-options .menu{
  width: 30px;
  height: 30px;
  background-image: url('../../images/menu.svg');
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.user-image{
  width: 100%;
  height: 614px;
  background-image: url('../../images/elmo.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}

.user-actions{
  width: 95%;
  height: 40px;
  padding: 0 16px;
  background-color: darkslateblue;
  display: flex;
  flex-direction: row;
}

.action-button{
  width: 40px;
  height: 40px;
  border: solid 1px black;
  padding: 8px;
}

.action-box1{
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: inherit;
}
.action-button.one{
  background-image: url('../../images/heart.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.action-box2{
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
}






/* ==================== SECTION 2 ====================== */
.profile-container{
  background-color: mediumorchid;
  width: 31%;
  
}