body {
  background-color: #fafafa;
  color: rgba(38,38,38,0.7);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

  /* ================================================================== */
 /*                           HEADER                                   */
/* ================================================================== */
.header {
  background-color: white;
  height: 54px;
}

.header-logo{
  width: 360px;
  height: 36px;
  margin-top: 7px;
  min-width: 40px;
}

.header-logo img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.header-container {
  display: grid;
  grid-template-columns: minmax(auto, 957px);
  height: inherit;
  justify-content: center;
  border-bottom: 1px solid rgba(38,38,38,0.7);
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-nav{
  width: 360px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.nav-button{
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: flex-end;  
}

.nav-button a{
  margin-left: 17px;
}

.nav-button .home{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/home.svg');
  background-size: 24px 24px;
}
.nav-button .compass{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/compass.svg');
  background-size: 24px 24px;
}
.nav-button .heart{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/heart.svg');
  background-size: 24px 24px;
}
.nav-button .profile{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/lukas.jpg');
  border-radius: 50%;
  background-size: 25px 25px;
}

/* .header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline-block;
  margin: 0 0 0 1em;
} */

.header h1 {
  color: black;
}

.header-search{
  width: 215px;
  min-width: 125px;
  height: 28px;
  background-color: #fafafa;
  border: solid 1px rgba(38,38,38,0.7);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search span img{
  width: 13px;
  height: 13px;
  margin-right: 10px;
  margin-bottom: -2px;
}

  /* ================================================================== */
 /*                           MAIN - SECTIONS                          */
/* ================================================================== */