.div-container-Suggestions {
  display: block;
  height: auto;
  padding: 0;
  margin-left: 845px;
  margin-top: 7.5em;
  position: fixed;
  max-width: 293px;

}

.div-info-profile {
  width: inherit;
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.div-container-info-profile {
  display: flex;
  justify-content: center;
}

.div-photo-profile {
  margin-left: 5px;
  overflow: hidden;

}

.div-photo-profile img {
  border-radius: 50px;
}

.div-container-username {
  display: block;
  margin-left: 15px;
  margin: auto auto auto 20px;
}

.username {
  font-weight: bold;

}

.name {
  font-weight: normal;
}

.div-suggestions {
  height: auto;
  overflow: hidden;

}

.container-suggestions-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.name {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #8e8e8e;
}

.username {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #262626;
  font-weight: 600;
}

.see-all a {
  text-decoration: none;
  color: #262626;
  font-size: 12px;
  font-weight: 600;
}

.div-list-suggestions {
  width: inherit;
  justify-content: center;
  margin-top: 10px;
}

.ab {
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.content-list-profile {
  display: flex;
  justify-content: center;
}

.div-follow a {
  color: #0095f6;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}

.div-elements-info {
  display: block;
  margin: 0;
  position: relative;
  padding-top: 20px;
}

.nav-elements-info {
  display: flex;
  padding-bottom: 15px;
}

.list-elements-info {
  flex-grow: 1;
  margin-bottom: 3px;
}

.div-elements-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.div-elements-info a {
  text-decoration: none;
  color: #c7c7c7;
}

.info {
  font-size: 11px;
  line-height: 13px;
  text-transform: none;
  display: inline-block;
  font-weight: 400;

}

.div-copyright-pugstagram {
  text-transform: uppercase;
  color: #c7c7c7;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}